@import './_variables.scss';

// Default
@mixin font-format(
  $font: 'Roboto',
  $size: 16px,
  $color: $gray,
  $line-height: 20px,
  $weight: 400,
  $transform: none
) {
  font-family: $font;
  font-size: $size;
  color: $color;
  line-height: $line-height;
  font-weight: $weight;
  text-transform: $transform;
}

// Titles
.scafolding-title-x-large {
  @include font-format(
    $font: 'Roboto',
    $size: 24px,
    $color: $gray,
    $line-height: 48px,
    $weight: 700,
    $transform: none
  );
}

.scafolding-title-large {
  @include font-format(
    $font: 'Roboto',
    $size: 18px,
    $color: $gray,
    $line-height: 32px,
    $weight: 700,
    $transform: none
  );
}

.scafolding-title-medium {
  @include font-format(
    $font: 'Roboto',
    $size: 16px,
    $color: $gray,
    $line-height: 24px,
    $weight: 700,
    $transform: none
  );
}

.scafolding-title-x-small {
  @include font-format(
    $font: 'Roboto',
    $size: 14px,
    $color: $gray,
    $line-height: 24px,
    $weight: 700,
    $transform: none
  );
}

.scafolding-title-small {
  @include font-format(
    $font: 'Roboto',
    $size: 12px,
    $color: $gray,
    $line-height: 24px,
    $weight: 700,
    $transform: none
  );
}

// Texts
.scafolding-text {
  @include font-format(
    $font: 'Roboto',
    $size: 16px,
    $color: $gray,
    $line-height: 20px,
    $weight: 400,
    $transform: none
  );
}

.scafolding-text-small {
  @include font-format(
    $font: 'Roboto',
    $size: 14px,
    $color: $gray,
    $line-height: 24px,
    $weight: 400,
    $transform: none
  );
}

.scafolding-text-x-small {
  @include font-format(
    $font: 'Roboto',
    $size: 10px,
    $color: $gray,
    $line-height: 16px,
    $weight: 500,
    $transform: none
  );
}

.scafolding-text-bold {
  @include font-format(
    $font: 'Roboto',
    $size: 16px,
    $color: $gray,
    $line-height: 16px,
    $weight: 700,
    $transform: none
  );
}

.scafolding-text-italic {
  @include font-format(
    $font: 'Roboto',
    $size: 16px,
    $color: $gray,
    $line-height: 26px,
    $weight: 400,
    $transform: none
  );
  font-style: italic;
}

.scafolding-text-link {
  @include font-format(
    $font: 'Roboto',
    $size: 16px,
    $color: $link,
    $line-height: 24px,
    $weight: 400,
    $transform: none
  );
}

// Display
.scafolding-display-large {
  @include font-format(
    $font: 'Roboto',
    $size: 72px,
    $color: $link,
    $line-height: 84px,
    $weight: 700,
    $transform: none
  );
}

.scafolding-display-medium {
  @include font-format(
    $font: 'Roboto',
    $size: 36px,
    $color: $link,
    $line-height: 64px,
    $weight: 700,
    $transform: none
  );
}
